.header {
    background-color: #a67d44;
    padding: 1.5em 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: black;
    font-size: 1.8em;
    margin: 0;
    cursor: pointer;
}

.header-balance {
    color: black;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.wallet-icon {
    margin-right: 0.5em;
    justify-content: center;
    align-items: center;
}
