.home-page {
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #cdbcab;
    text-shadow: 0 0 20px rgba(166, 125, 68, 0.8),
                 0 0 20px rgba(166, 125, 68, 0.4);
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.next-btn {
    background-color: #5d1c34;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
}

.pagination-button {
    margin: 0 5px;
    background-color: transparent;
    color: var(--text-body);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-button.active {
    background-color: #a67d44;
    color: #fff;
}

.pagination-button:hover:not(:disabled) {
    background-color: rgba(166, 125, 68, 0.7);
}

.prev-next-button {
    background-color: #5d1c34;
    color: #fff;
}

.prev-next-button:hover:not(:disabled) {
    background-color: #7a2d46;
}

.prev-next-button:disabled {
    background-color: #b33e53;
    color: #666;
}
