.movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 15px rgba(166, 125, 68, 0.3);
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(166, 125, 68, 0.5);
}

.movie-card__poster {
    width: 100%;
    height: auto;
    margin: 0;
}

.movie-card__info {
    padding: 10px;
    text-align: center;
}

.movie-card__title {
    font-size: 1.2em;
    margin: 10px 0;
    color: #efe9e1;
}

.movie-card__owned {
    font-size: 0.9em;
    color: #555;
}

.movie-card__button {
    background-color: #5d1c34;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.movie-card__button:hover {
    background-color: #a67d44;
}
