.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.purc-title {
    font-size: 1.5rem;
    color: #5d1c34;
}

.purc-text {
    margin-top: 10px;
    font-size: 1rem;
    color: #11100F;
}

.purchase-modal-content {
    background: #cdbcab;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 25em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5d1c34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-button:hover {
    background-color: #812348;
}